body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 600px;
  max-width: 600px;
}

.app_title {
  text-align: center;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

/* Folder container styles */
.folder_container {
  width: 100%;
}

.folder_input_container {
  width: 100%;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

.input {
  margin: 5px 2%;
  width: 70%;
  padding: 10px;
  padding-left: 15px;
  font-size: 1em;
}

.add_button {
  width: 20%;
  padding: 10px;
  font-size: 1em;
}

.folder_display_container {
  width: 100%;
}

.subtitle {
  padding-left: 2%;
}

.folder_list {
  list-style: none;
  padding-left: 25px;
}

/* Individual folder item styles */

.folder_item {
  position: relative;
  padding: 5px 0px;
  border: 1px solid black;
  margin: 2px auto;
  font-size: 1em;
  cursor: pointer;
}

.fa-folder-closed {
  position: relative;
  top: 3px;
  padding: 0px 10px;
  width: 20px;
  height: 20px;

}


.folder_trash {
  width: 100%;
  height: 100%;
}

.delete_folder {
  position: absolute;
  height: 25px;
  width: 40px;
  right: 20px;
  padding: 0;
  border-style: none;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.delete_folder:hover {
  transform: scale(1.1);
}

/* Url container styles */

.link_container {
  width: 100%;
}

.link_input_container {
  width: 100%;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

.input.url_input {
  width: 50%;
}

.add_button.url {
  width: 18%;
  margin-right: 10px;
}

.url_list {
  list-style: none;
  padding-left: 25px;
}

.url_item {
  position: relative;
  padding: 5px 0px;
  border: 1px solid black;
  border-radius: 4px;
  margin: 4px auto;
  font-size: 1em;
}

a {
  padding-left: 20px;
}

.delete_url {
  position: absolute;
  right: 20px;
  top: 7px;
  padding: 0;
  border-style: none;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.delete_url:hover {
  transform: scale(1.1);
}



/* Any element that needs display none */

.none {
  display: none;
}
