body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 400px;
  max-width: 600px;
}

.app_title {
  text-align: center;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.folder_container {
  width: 100%;
}

.folder_input_container {
  width: 100%;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

.input {
  margin: 5px 2%;
  width: 70%;
  padding: 10px;
  padding-left: 15px;
  font-size: 1em;
}

.add_button {
  width: 20%;
  padding: 10px;
  font-size: 1em;
}

.folder_display_container {
  width: 100%;
}

.subtitle {
  padding-left: 2%;
}

.folder_list {
  list-style: none;
  padding-left: 25px;
}

.folder_item {
  position: relative;
  padding: 5px 0px;
  border: 1px solid black;
  margin: 2px auto;
  font-size: 1em;
}

.fa-folder-closed {
  padding: 0px 10px;
}

.delete_folder {
  position: absolute;
  right: 10px;
  border-style: none;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.delete_folder:hover {
  transform: scale(1.1);
}